.main{
    width: 500px;
    height: 500px;
    padding: 0;
    margin: auto;
    border: 5px solid;
}

.red{
    background-color: red;
    position: relative;
    width: 250px;
    height: 250px;
}

.blue{
    background-color: blue;
    width: 250px;
    height: 250px;
    position: relative;
    float: left;
    left: 250px;
}

.green{
    background-color: green;
    width: 250px;
    height: 250px;
    position: relative;
    float: left;
    top: -125px;
    left: -125px;
}